
.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button{
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgb(186, 204, 222);
}

input{
    border: 3px solid black;
    border-radius: 2%;
}