

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 8px;
}

.wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.wrapper input{

    padding: 12px;
    font-size: 16px;
    border: none;

}

.wrapper button {
    padding: 5px 12px;
    border: none;
    border-radius: 8px;
    background-color: aqua;
    color: black;
    cursor: pointer;
}

.user{
    margin-top: 5px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    gap: 5px;
    text-align: center;
    font-weight: bold;
}

.user a {
    color: blue;
}

.avatar {
    height: 150px;
    color: 1px solid black;
    aspect-ratio: 1/1 ;
    border-radius: 50%;
}