.modal {
    position: fixed;
    z-index: 1;
    padding-top:  150px;
    left: 0;
    top: 0;
    width: 100% ;
    height: 100% ;
    overflow: auto;
    background-color: aquamarine; 
}

.content {
    position: relative;
    background-color: #fefefe;
    margin: auto ;
    padding: 0;
    border: 1px solid red ;
    width: 80%;
    text-align: center;
    animation-name: animateModal;
    animation-duration: 0.5s;
}

.close-modal {
    cursor: pointer;
    font-size: 40px;
    float: left;
    font-weight: bold;
}

.header {
    padding: 4px 16px;
    background-color: #5cb85c;
    color: white;

}

.body {
    padding: 2px 16px;
}

.footer{
    padding: 2px 16px;
    background-color: #5cb85c ;
    color: white  ;
    height: 100%;
}

span{
    padding-left: 500px;
    padding-right: 50px;
}

@keyframes animateModal{
    from {
        top: -200px ;
        opacity: 0 ; 
    }

    to {
        top: 0 ;
        opacity: 1 ;
    }
}